doctype html
html
	head
		title tt3k admin
		META(NAME='ROBOTS', CONTENT='NOINDEX, NOFOLLOW')
		link(rel='stylesheet', href='/build.css')
	body
		header
			ul#admin-menu
				
		#main				
			li
				a(href='/admin/scores', class='js-nav') Scores

		#court

		#ken
			#ben

		script(type='text/tmpl', id='scoresTmpl')
			table
				thead
					tr
						th Date
						th Player 1
						th Player 2
						th &nbsp;
				tbody#scores

		
		script(src='/build.js')
		script require('tt3k-admin')