doctype 5
html
	head
		title tt3k admin
	body
		header
			ul#admin-menu
				
		#main
				
		script(type='text/tmpl', id='menu-item-tmpl')
				li
					a(href='{path}') {text}

		script(type='text/tmpl', id='scores')
		
		script(src='/js/libs/jquery.1.9.1.min.js')
		script(src='/js/libs/riot.js')
		script(src='/js/app/admin/admin.js')