extends layout

block content
	script(id='StartView', type='text/ng-template')
		#start 
			h1 Hello Betty!

	script(id='ScoresView', type='text/ng-template')
		#scores
			#match
				#players
					.player {{ player1 }}
					.vs vs
					.player
						input(type='text', id='player2', class='span5', data-provide='typeahead', autocomplete='off', data-items=8, data-source='{{ opponents }}', placeholder='Opponent', tabindex=1)
				.set
					.games
						input(type='text', maxlength=2, tabindex=2, id='set1-player1')
					.games
						input(type='text', maxlength=2, tabindex=3, id='set1-player2')
				.set
					.games
						input(type='text', maxlength=2, tabindex=4, id='set2-player1')
					.games
						input(type='text', maxlength=2, tabindex=5, id='set2-player2')
				.set
					.games
						input(type='text', maxlength=2, tabindex=6, id='set3-player1')
					.games
						input(type='text', maxlength=2, tabindex=7, id='set3-player2')
				.set
					.games
						input(type='text', maxlength=2, tabindex=8, id='set4-player1')
					.games
						input(type='text', maxlength=2, tabindex=9, id='set4-player2')
				.set
					.games
						input(type='text', maxlength=2, tabindex=10, id='set5-player1')
					.games
						input(type='text', maxlength=2, tabindex=11, id='set5-player2')
				.subtle on
				.gameday
					.control-group.input-append
						input(type='text', id='hell', data-ng-model='match.date', data-date-format='dd/mm/yyyy', data-toggle='datepicker')
						button(type='button', class='btn', data-toggle='datepicker')
							i.icon-calendar
				.buttons
					button(type='button', class='btn btn-success btn-block', ng-click='submitScore()') Submit Score

		#feedback.hide.alert.alert-warning
			{{ feedback }}

	script(id='LoginView', type='text/ng-template')
		#login
			form.form-horizontal
				.control-group
					.controls
						input(type='text', data-ng-model='credentials.username', placeholder='Email', autofocus)
				.control-group
					.controls
						input(type='password', data-ng-model='credentials.password', placeholder='Password')
				.control-group
					.controls
						button(type='button', data-ng-click='login()', class='btn btn-success') Login
				#feedback.hide.alert.alert-error
					b Oh no! 
					{{ feedback }}


	script(id='SignUpView', type='text/ng-template')
		#signup
			form.form-horizontal
				.control-group
					.controls
						input(type='text', data-ng-model='member.name', placeholder='FirstName LastName', maxlength=80, required, autofocus)
				.control-group
					.controls
						input(type='text', data-ng-model='member.email', placeholder='Email', pattern='.+@.+\.[a-z]{2,3}', maxlength=80, required)
				.control-group
					.controls
						input(type='password', data-ng-model='member.password', placeholder='Password', pattern='.{6,}', maxlength=80, required)
				.control-group
					.controls
						button(type='button', data-ng-click='signUp()', class='btn btn-success') Sign Up
				#feedback.hide.alert.alert-error
					b Oh snap! 
					{{ feedback }}
