extends layout

block content
	script(id='StartView', type='text/ng-template')
		#start 
			h1 Hello Betty!

	script(id='ScoresView', type='text/ng-template')
		#scores
			#match {{ match.player1.name }}
		#feedback.hide.alert.alert-warning
			{{ feedback }}
			

	script(id='LoginView', type='text/ng-template')
		#login
			form.form-horizontal
				.control-group
					.controls
						input(type='text', data-ng-model='credentials.username', placeholder='Email', autofocus)
				.control-group
					.controls
						input(type='password', data-ng-model='credentials.password', placeholder='Password')
				.control-group
					.controls
						button(type='button', data-ng-click='login()', class='btn btn-success') Login
				#feedback.hide.alert.alert-error
					b Oh no! 
					{{ feedback }}


	script(id='SignUpView', type='text/ng-template')
		#signup
			form.form-horizontal
				.control-group
					.controls
						input(type='text', data-ng-model='member.name', placeholder='FirstName LastName', maxlength=80, required, autofocus)
				.control-group
					.controls
						input(type='text', data-ng-model='member.email', placeholder='Email', pattern='.+@.+\.[a-z]{2,3}', maxlength=80, required)
				.control-group
					.controls
						input(type='password', data-ng-model='member.password', placeholder='Password', pattern='.{6,}', maxlength=80, required)
				.control-group
					.controls
						button(type='button', data-ng-click='signUp()', class='btn btn-success') Sign Up
				#feedback.hide.alert.alert-error
					b Oh snap! 
					{{ feedback }}
