extends layout

block content
	script(id='LatestScoresView', type='text/ng-template')
		#start
			div.latest-score(data-ng-repeat='score in scores')
				span.faded.subtle.date {{score.gameday}}
				| {{score.player1}}
				span.subtle vs
				{{score.player2}} {{score.sets.join(', ')}}

	script(id='ScoresView', type='text/ng-template')
		#scores
			#match
				form#match-report(data-ng-submit=('submitScore()'))
					#players
						.player {{ match.player1 }}
						.vs vs
						.player.opponent
							input.span5(type='text', autofocus, data-ng-model='match.player2', data-provide='typeahead', autocomplete='off', data-items=8, data-source='{{ opponents }}', placeholder='Opponent', tabindex=1, required)
					#sets
						.set
							.games
								input(type='text', data-ng-model='match.sets[0].gamesWonByPlayer1', maxlength=2, tabindex=2, pattern='[0-9]{1,2}', required)
							.games
								input(type='text', data-ng-model='match.sets[0].gamesWonByPlayer2', maxlength=2, tabindex=3, pattern='[0-9]{1,2}', required)
						.set
							.games
								input(type='text', data-ng-model='match.sets[1].gamesWonByPlayer1', maxlength=2, tabindex=4)
							.games
								input(type='text', data-ng-model='match.sets[1].gamesWonByPlayer2', maxlength=2, tabindex=5)
						.set
							.games
								input(type='text', data-ng-model='match.sets[2].gamesWonByPlayer1', maxlength=2, tabindex=6)
							.games
								input(type='text', data-ng-model='match.sets[2].gamesWonByPlayer2', maxlength=2, tabindex=7)
						.set
							.games
								input(type='text', data-ng-model='match.sets[3].gamesWonByPlayer1', maxlength=2, tabindex=8)
							.games
								input(type='text', data-ng-model='match.sets[3].gamesWonByPlayer2', maxlength=2, tabindex=9)
						.set
							.games
								input(type='text', data-ng-model='match.sets[4].gamesWonByPlayer1', maxlength=2, tabindex=10)
							.games
								input(type='text', data-ng-model='match.sets[4].gamesWonByPlayer2', maxlength=2, tabindex=11)
					.subtle on
					.gameday
						.control-group.input-append
							input(type='text', id='when', data-toggle='datepicker', required)
							button.btn(type='button', data-toggle='datepicker')
								i.icon-calendar
					.buttons
						button.btn.btn-success.btn-block(type='submit', id='btnSubmitScore', ng-click='submitScore()') Submit Score

		#feedback.hide.alert.alert-warning
			{{ feedback }}

	script(id='LoginView', type='text/ng-template')
		#login
			form.form-horizontal(data-ng-submit='login()')
				.control-group
					.controls
						input(type='text', data-ng-model='credentials.username', placeholder='Email', autofocus)
				.control-group
					.controls
						input(type='password', data-ng-model='credentials.password', placeholder='Password')
				.control-group
					.controls
						button.btn.btn-success(type='submit', data-ng-click='login()') Login
				#feedback.hide.alert.alert-error
					b Oh no!
					{{ feedback }}


	script(id='SignUpView', type='text/ng-template')
		#signup
			form.form-horizontal(data-ng-submit='signUp()')
				.control-group
					.controls
						input(type='text', data-ng-model='member.name', placeholder='FirstName LastName', maxlength=80, required, autofocus)
				.control-group
					.controls
						input(type='text', data-ng-model='member.email', placeholder='Email', pattern='.+@.+\.[a-z]{2,3}', maxlength=80, required)
				.control-group
					.controls
						input(type='password', data-ng-model='member.password', placeholder='Password', pattern='.{6,}', maxlength=80, required)
				.control-group
					.controls
						button(type='submit', data-ng-click='signUp()', class='btn btn-success') Sign Up
				#feedback.hide.alert.alert-error
					b Oh snap!
					{{ feedback }}
