doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
	body
		#brand Trash&nbsp;Talk&nbsp;3000
		#main-menu
			ul
				li 
					a(href='#') What's up
				li
					a(href='#') Game on
				li
					a(href='#') Keeping the score
				li
					a(href='#') Login
				li
					a(href='/signup') Join
		#stadium
			block content
		script(src='/js/tt3k.js')