doctype 5
html(data-ng-app='tt3k')
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')
		//script(src='/js/tt3k.js')
		script(src='/js/tt3k-ng.js')
	body(data-ng-controller='MainCtrl')
		#brand Trash&nbsp;Talk&nbsp;3000
		#main-menu
			ul
				li 
					a(href='/') What's up
				li
					a(href='#') Game on
				li
					a(href='#') Keeping the score
				li
					a(href='/login') Login
				li
					a(href='/sign-up') Sign Up
		#main-wrapper.ng-view
		block content