doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/libs/bootstrap-datepicker.css')
		script(data-main='js/bundle.js', src='/js/libs/require.js')
	body(data-ng-controller='MainCtrl')
		#brand Trash&nbsp;Talk&nbsp;3000
		#main-menu
		#main-wrapper.ng-view
		block content
