doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#brand Trash&nbsp;Talk&nbsp;3000
		#main-menu
			ul
				li 
					a(href='#') What's up
				li
					a(href='#') Game on
				li
					a(href='#') Keeping the score
		#site-content
			block content