!!!
html(ng-app='trial')
	head
		title Test

		script(src='js/libs/angularjs.1.0.6.min.js')
		//script(src='http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js')
		script(src='js/libs/ui.bootstrap.tpls.0.6.0.js')

		script(src='js/app/TaCtrl.js')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css')
	body(data-ng-controller='TaCtrl')
		ul
			li(ng-repeat='state in states')
				i {{state}}
		input(type='text', ng-model='selected', typeahead='state for state in states | filter:$viewValue | limitTo:8')
		div
			{{selected}}