@import url('reset.css')
@import url('http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700')

$gray = #d7d7d7
$black = #000
$white = #fff
$link = magenta
$menuFont = 'League Gothic'

@font-face
	font-family 'League Gothic'
	font-weight normal
	font-style normal
	src url('/fonts/league_gothic.woff') format('woff')

body
	font-family Arial, sans-serif

a
	color magenta
	text-decoration none

a:link, a:visited
	color $link

a:hover, a:active
	color lime

h1, h2, h3
	font-family 'League Gothic', Arial
	text-transform uppercase

#brand
	text-align center
	font 80px 'Yanone Kaffeesatz'
	text-transform uppercase
	color black
	text-shadow -4px 4px 0 $gray

#main-menu
	background $black
	text-align center
	padding 8px 0 2px 0

#main-menu li
	display inline-block

#main-menu a
	font-size 26px
	font-family $menuFont
	text-transform uppercase
	text-decoration none
	margin-right 34px

#main-menu a:link, #main-menu a:visited
	color $white

#main-menu a:hover
	color magenta

#main-menu a.active
	color magenta

#main-wrapper
	max-width 900px
	margin 0 auto

#main-wrapper > div
	margin 40px auto 0 auto
	padding-left 110px

#main-wrapper > #start
	margin-top 20px

.latest-score
	font normal 30px "Georgia"
	margin 10px

#match
	text-align center
	position relative

#players
	display inline-block
	margin 4px

.opponent
	margin-top 6px

.player > input[type=text]
	height auto
	border none
	font normal 50px "Georgia"
	transition none
	box-shadow none
	color black

#sets
	display inline-block
	vertical-align top

.set
	display inline-block
	margin-right 8px

.games
	margin-bottom 6px

.games input[type=text]
	border none
	font normal 50px "Georgia"
	color black
	background #eee
	width 50px
	text-align center
	height auto
	transition none

#match input[type=text]:focus
	outline none

.player
	font normal 50px "Georgia"
	text-align left
	background transparent

#player2
	margin-left -6px
	background transparent

.vs, .subtle
	color #999
	font italic 20px "Georgia"

.vs
	margin 4px 0 -8px

.subtle
	font-size 16px
	margin 8px

.faded
	color #999

.date
	font-style normal

.buttons
	margin-top 30px

.brdr
	border 1px solid red
